In [23]:
import pandas as pd
import os
import tensorflow as tf
import numpy as np
import shutil

In [9]:
image_dir_path = "../data/raw/military-aircraft-recognition-dataset/JPEGImages/"
csv_path =  "../data/processed/horizontal.csv"
output_dir = "../data/processed/cropped_images"

In [8]:
df = pd.read_csv(csv_path)
df

,Unnamed: 0,name,image_width,image_height,class,xmin,ymin,xmax,ymax
0,0,1.jpg,859,831,A2,485,427,554,500
1,1,1.jpg,859,831,A2,694,487,770,562
2,2,1.jpg,859,831,A10,58,205,134,285
3,3,10.jpg,752,834,A2,510,44,635,149
4,4,10.jpg,752,834,A2,497,354,618,459
...,...,...,...,...,...,...,...,...,...
22336,22336,998.jpg,800,800,A12,156,677,238,728
22337,22337,998.jpg,800,800,A17,492,377,586,478
22338,22338,998.jpg,800,800,A12,477,196,561,250
22339,22339,999.jpg,800,800,A14,419,111,568,269
22340,22340,999.jpg,800,800,A11,492,483,642,650

In [6]:
class_labels = df['class'].unique()
class_labels

array(['A2', 'A10', 'A3', 'A19', 'A1', 'A13', 'A20', 'A15', 'A16', 'A17',
       'A12', 'A5', 'A14', 'A7', 'A9', 'A4', 'A18', 'A8', 'A11', 'A6'],
      dtype=object)

In [12]:
for class_label in class_labels:
    class_directory = os.path.join(output_dir, class_label)
    os.makedirs(class_directory, exist_ok=True)

In [14]:
image_paths = image_dir_path + df["name"]
image_paths

0        ../data/raw/military-aircraft-recognition-data...
1        ../data/raw/military-aircraft-recognition-data...
2        ../data/raw/military-aircraft-recognition-data...
3        ../data/raw/military-aircraft-recognition-data...
4        ../data/raw/military-aircraft-recognition-data...
                               ...
22336    ../data/raw/military-aircraft-recognition-data...
22337    ../data/raw/military-aircraft-recognition-data...
22338    ../data/raw/military-aircraft-recognition-data...
22339    ../data/raw/military-aircraft-recognition-data...
22340    ../data/raw/military-aircraft-recognition-data...
Name: name, Length: 22341, dtype: object

In [17]:
xmin = np.array(df["xmin"])
ymin = np.array(df["ymin"]) 
xmax = np.array(df["xmax"]) 
ymax = np.array(df["ymax"])

In [22]:
for i, image_path in enumerate(image_paths):
    try:
        image = tf.io.read_file(image_path)
    except:
        continue
    image = tf.image.decode_image(image, channels=3)
    cropped_image = tf.image.crop_to_bounding_box(image, ymin[i], xmin[i], ymax[i] - ymin[i], xmax[i] - xmin[i])
    tf.keras.utils.save_img(os.path.join(output_dir, df["class"][i], str(i)+".jpg"), cropped_image)

In [25]:
shutil.make_archive(output_dir, 'zip',output_dir)

'C:\\Users\\Biggi Mombassa\\Documents\\vakoms\\Vakoms_technical_task\\vakoms_technical_task\\data\\processed\\cropped_images.zip'